@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("./fonts/SolaimanLipi_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "CustomFont";
  src: url("./fonts/SolaimanLipi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "CustomFont", sans-serif;
}

.container {
  padding: 0 26px;
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}
